<!DOCTYPE html>
<html lang="zxx" xmlns:th="https://www.thymeleaf.org">

<head>
    <th:block th:insert="Header.html"></th:block>
</head>

<body>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Product</h4>
                        <div class="breadcrumb__links">
                            <a href="/home/index">Home</a>
                            <span>Product</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories" th:each="cat: ${catlist}">
                                              <a href="#" style="color:DarkGray;">[[${cat.category_name}]]</a>                                          
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                      
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1 of 2 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row is-table-row" align="center" >
                        <div class="col-sm-4 col-lg-4 col-md-4" th:each="pro: ${prodlist}">
                            <div class="product__item" >
                            
                                <div class="product__item__pic set-bg">
                                    <img th:src="@{'/images/'+ ${pro.imageName}}" width="200" height="260">
                                </div>
                                
                                <div class="product__item__text">
                                    <h6 >[[${pro.prod_name}]]</h6>
                                    
                                    <a th:href="@{/cart/add(id=${pro.id})}" class="add-cart">&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>Rs: [[${pro.prod_price}]]</h5>
                                  
                                </div>
        
                            </div>
                        </div>
                        </div>
        		</div>
        
          	</div>
       	
       	</div>
    </section>
    <!-- Shop Section End -->

	<th:block th:insert="Footer.html"></th:block>


</body>

</html>